@page "/logout"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime jsRuntime

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var response = await Http.PostAsync($"{Navigation.BaseUri}api/auth/logout", null);
        if (response.IsSuccessStatusCode)
        {
            await jsRuntime.InvokeVoidAsync("clearAuthCookies");
            Navigation.NavigateTo("/login");
        }
        Navigation.NavigateTo($"{Navigation.BaseUri}login");
    }
}