@page "/logout"
@using WebLab2.HelperMethods
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime jsRuntime

<h3>Logging out...</h3>

@code {
    [Inject] private AuthHelper AuthHelper { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var response = await Http.PostAsync($"{Navigation.BaseUri}api/auth/logout", null);
        if (response.IsSuccessStatusCode)
        {
            await jsRuntime.InvokeVoidAsync("clearAuthCookies");
            AuthHelper.IsAuthenticated = false;
            Navigation.NavigateTo("/login");
        }
        Navigation.NavigateTo($"{Navigation.BaseUri}login");
    }
}