@page "/protected"
@using WebLab2.HelperMethods
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<h3>Protected Page</h3>

@if (!string.IsNullOrEmpty(Message))
{
    <p>@Message</p>

}

@code {
    [Inject] private AuthHelper AuthHelper { get; set; }
    private bool isAdmin;

    private string Message = "";

    protected override async Task OnInitializedAsync()
    {
        isAdmin = await AuthHelper.IsUserAdminAsync();
        if (isAdmin)
        {
            Message = "Welcome, Admin!";
        }
        else
        {
            Navigation.NavigateTo("/login");
        }
    }
}
